.outfit body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

html{
    min-width: 375px
    max-width: 1440px
    margin: auto 
}
body{
    width: 90%;
    margin: auto;
    margin-top: 2em;
    min-height: 100vh;
    background-color: hsl(214, 17%, 92%);
}

.reviews{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
}

.card{
    background-color: aqua;
    border-radius: 8px;
    padding: 2em;
}

.profile{
    display: flex;
    align-items: center;
    gap: 15px;

}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid white;
}