.outfit body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

html{
    min-width: 375px
    max-width: 1440px
    margin: auto 
}
body{
    width: 90%;
    margin: auto;
    margin-top: 2em;
    min-height: 100vh;
    background-color: hsl(214, 17%, 92%);
}

.reviews{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
}

.card{
    background-color: rgb(79, 79, 144);
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0em 0.5em 0.5em;
}

.profile{
    display: flex;
    align-items: center;
    gap: 15px;

}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid white;
}

h2{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color: white;
    font-weight: 600;
}

span{
    color: rgb(242, 204, 204);
    font-size: 0.8em
}

h3{
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    padding: 0.8em;

}
p{
    color: white;
    font-weight: 500;
    line-height: 1.3em;
    font-size: 0.9em;
}

#Daniel{
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
}

#Jonathan{
    background-color: hsl(217, 34%, 40%)
}

#Jeanette{
    background-color:white ;
}

#Jeanette p{
    color: black;
}
#Jeanette h2{
    color: black
    ;
}
#Jeanette span{
    color: black;
}
#Jeanette h3{
    color: black;
}
#Patrick{
    background-color: hsl(219, 29%, 14%);
}
#kira{
    background-color: white;
}
#kira p{
    color: black;
}
#kira h2{
    color: black
    ;
}
#kira span{
    color: black;
}
#kira h3{
    color: black;
}